<configuration debug="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %logger{36} %msg %n</pattern>
		</encoder>
	</appender>

	<logger name="hdf.hdf5lib" level="ERROR"/>

	<root level="${logback-root-level:-INFO}">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
