<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.python.pydev.debug.jythonLaunchConfigurationType">
<stringAttribute key="bad_container_name" value="/uk.ac.diamond.scisoft.python.test/JyUnit"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/uk.ac.diamond.scisoft.python.test/src/all_tests.py"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LD_LIBRARY_PATH" value="${project_loc:uk.ac.diamond.CBFlib}/lib/${target.os}-${target.arch}:${project_loc:hdf.hdf5lib}/lib/${target.os}-${target.arch}"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:uk.ac.diamond.scisoft.python.test/src/all_tests.py}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value=""/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:uk.ac.diamond.scisoft.python.test/src}"/>
<stringAttribute key="org.python.pydev.debug.ATTR_INTERPRETER" value="__default"/>
<stringAttribute key="org.python.pydev.debug.ATTR_PROJECT" value="uk.ac.diamond.scisoft.python.test"/>
<intAttribute key="org.python.pydev.debug.ATTR_RESOURCE_TYPE" value="1"/>
<stringAttribute key="org.python.pydev.debug.vm.arguments" value="-agentlib:jdwp=transport=dt_socket,address=8000,server=y,suspend=n"/>
<stringAttribute key="process_factory_id" value="org.python.pydev.debug.processfactory.PyProcessFactory"/>
</launchConfiguration>
