# Ignores that are common to all Eclipse GDA plugin projects
/@dot
/@dot.log
/bin
/build.xml
/javaCompiler...args
/src/corba/
/temp.folder
/test-reports
/test-scratch

# Ignores that are specific to this Eclipse project
*.pyc

