<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="uk.ac.diamond.scisoft.analysis.io.loader" name="Loader Factory Extension" schema="schema/uk.ac.diamond.scisoft.analysis.io.loader.exsd"/>
   <extension-point id="fittingfunction" name="Fitting Function" schema="schema/fittingfunction.exsd"/>
   <extension
         point="uk.ac.diamond.scisoft.analysis.fittingfunction">
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Box"
            id="uk.ac.diamond.scisoft.analysis.box"
            name="Box">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Cubic"
            id="uk.ac.diamond.scisoft.analysis.cubic"
            name="Cubic">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Fermi"
            id="uk.ac.diamond.scisoft.analysis.fermi"
            name="Fermi">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.FermiGauss"
            id="uk.ac.diamond.scisoft.analysis.fermigauss"
            name="Fermi * Gaussian">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Gaussian"
            id="uk.ac.diamond.scisoft.analysis.gaussian"
            name="Gaussian">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Lorentzian"
            id="uk.ac.diamond.scisoft.analysis.lorentzian"
            name="Lorentizian">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.PearsonVII"
            id="uk.ac.diamond.scisoft.analysis.pearsonvii"
            name="PearsonVII">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Polynomial"
            id="uk.ac.diamond.scisoft.analysis.polynomial"
            name="Polynomial">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.PseudoVoigt"
            id="uk.ac.diamond.scisoft.analysis.pseudovoigt"
            name="PseudoVoigt">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Box"
            id="uk.ac.diamond.scisoft.analysis.box"
            name="Box">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.StraightLine"
            id="uk.ac.diamond.scisoft.analysis.linear"
            name="Linear">
      </function>
   </extension>


</plugin>
