<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="uk.ac.diamond.scisoft.analysis.io.loader" name="Loader Factory Extension" schema="schema/uk.ac.diamond.scisoft.analysis.io.loader.exsd"/>
   <extension-point id="uk.ac.diamond.scisoft.analysis.fitting.function" name="Function" schema="schema/uk.ac.diamond.scisoft.analysis.fitting.function.exsd"/>
   <extension
         point="org.eclipse.dawnsci.analysis.classloader">
      <bundle
            class="uk.ac.diamond.scisoft.analysis.io.NumPyFileLoader">
      </bundle>
   </extension>
   <extension
         point="uk.ac.diamond.scisoft.analysis.fitting.function">
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Box"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.Box"
            name="Box">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Cubic"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.Cubic"
            name="Cubic">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.CubicSpline"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.CubicSpline"
            name="Cubic Spline">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Fermi"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.Fermi"
            name="Fermi convoluted with Gaussian">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Gaussian"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.Gaussian"
            name="Gaussian">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.GaussianND"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.GaussianND"
            name="Gaussian (n dimensional)">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.StraightLine"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.StraightLine"
            name="Linear">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Lorentzian"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.Lorentzian"
            name="Lorentzian">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.LorentzianSqr"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.LorentzianSqr"
            name="Lorentzian squared">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Offset"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.Offset"
            name="Offset">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.PearsonVII"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.PearsonVII"
            name="Pearson VII">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Polynomial"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.Polynomial"
            name="Polynomial">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Quadratic"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.Quadratic"
            name="Quadratic">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.PseudoVoigt"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.PseudoVoigt"
            name="Pseudo-Voigt">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Step"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.Step"
            name="Step">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.SmoothGoldEdgeFunction"
            id="uk.ac.diamond.scisoft.analysis.fitting.functions.SmoothGoldEdgeFunction"
            name="Smooth gold edge">
      </function>
   </extension>


</plugin>
