<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension id="org.eclipse.dawnsci.nexus.validation.application" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="any"
            visible="true">
           <run class="org.eclipse.dawnsci.nexus.validation.NexusValidationApplication"/>
      </application>
   </extension>
   
   <extension id="product" point="org.eclipse.core.runtime.products">
   	  <product
   	  		application="org.eclipse.dawnsci.nexus.validation.application"
   	  		name="org.eclipse.dawnsci.nexus.validation.product">
   	  	 <property
   	  	 		name="appName"
   	  	 		value="org.eclipse.dawnsci.nexus.validation.product">
   	  	 </property>
   	  </product>
   </extension>
   <extension
         id="validation"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.dawnsci.nexus.validation.application"
            name="org.eclipse.dawnsci.nexus.validation.product">
         <property
               name="appName"
               value="org.eclipse.dawnsci.nexus.validation.product">
         </property>
      </product>
   </extension> 

</plugin>
