<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.diamond.scisoft.analysis.api.operation">
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.SubtractOperation"
            description="Subtract one dataset from another or subtract a scalar value."
            icon="icons/minus.png"
            id="uk.ac.diamond.scisoft.analysis.processing.subtractOperation"
            name="Subtract"
            visible="false">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.AddOperation"
            description="Add one dataset to another or add a scalar value."
            icon="icons/plus.png"
            id="uk.ac.diamond.scisoft.analysis.processing.addOperation"
            name="Add"
            visible="false">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.AzimuthalIntegration"
            description="Azimithal integration on an image using a sector region."
            icon="icons/sector.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.azimuthalIntegration"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.SectorIntegrationModel"
            name="Sector Azimithal Integration">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.FunctionOperation"
            description="Run an arbitrary function on the data to transform it."
            icon="icons/function.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.functionOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.FunctionModel"
            name="Function Operation">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.BoxIntegration"
            description="Using a box region, select a portion of the data to integrate in X and Y."
            icon="icons/box.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.boxIntegration"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.BoxIntegrationModel"
            name="Box Integration">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.RotatedCartesianBox"
            description="Define a region of interest to be used in the rest of the processing pipeline."
            icon="icons/region.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.selectROI"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.RotatedCartesianBoxModel"
            name="Cut Rotated Cartesian Box">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.FittingOperation"
            description="Fit a peak to 1D data"
            icon="icons/fit.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.fittingOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.FittingModel"
            name="Peak Fit"
            visible="true">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.mask.ThresholdMask"
            description="Create a mask with intensity values below a lower bound and above an upper bound masked."
            icon="icons/mask.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.thresholdMask"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.mask.ThresholdMaskModel"
            name="Threshold Mask"
            visible="true">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.DiffractionMetadataImportOperation"
            description="Import detector geometry and x-ray energy"
            icon="icons/CalibrationRun.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.DiffractionMetadataImportOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.DiffractionMetadataImportModel"
            name="Import Diffraction Metadata"
            visible="true">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.powder.AzimuthalPixelIntegrationOperation"
            description="Azimuthal integration of a 2D powder diffraction/SAXS image to a 1D pattern"
            icon="icons/PowderIntegration.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.powder.AzimuthalPixelIntegrationOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.powder.AzimuthalPixelIntegrationModel"
            name="Azimuthal Integration"
            visible="true">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.powder.RadialPixelIntegrationOperation"
            description="Radial integration of a 2D powder diffraction/SAXS image to intenisty vs azimuthal angle"
            icon="icons/PowderIntegrationRadial.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.powder.RadialPixelIntegrationOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.powder.AzimuthalPixelIntegrationModel"
            name="Radial Integration"
            visible="true">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.powder.MultiplicativeIntensityCorrectionOperation"
            description="Solid angle, polarisation and detector transmission corrections"
            icon="icons/PowderCorrection.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.powder.MultiplicativeIntensityCorrectionOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.powder.MultiplicativeIntensityCorrectionModel"
            name="Powder Diffraction Intensity Corrections"
            visible="true">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.powder.CakePixelIntegrationOperation"
            description="Remap a powder diffraction/SAXS image to q/2theta vs azimuthal angle"
            icon="icons/PowderCake.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.powder.CakePixelIntegrationOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.powder.CakePixelIntegrationModel"
            name="Cake Remapping"
            visible="true">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.mask.ImportMaskOperation"
            description="Import Mask from .nxs or fit2d mask file"
            icon="icons/mask.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.ImportMaskOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.mask.ImportMaskModel"
            name="Import Mask From File"
            visible="true">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.mask.DilateMaskOperation"
            description="Dilate the mask"
            icon="icons/mask.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.DilateMaskOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.mask.DilateMaskModel"
            name="Dilate Mask"
            visible="true">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.RollingBallBaselineOperation"
            description="Rolling ball baseline correction with fixed radius"
            icon="icons/function.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.RollingBallBaselineOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.RollingBallBaselineModel"
            name="Rolling Ball Baseline Correction"
            visible="true">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.image.GaussianBlurOperation"
            description="Gaussian image filter"
            icon="icons/function.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.GaussianBlurOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.image.KernelWidthModel"
            name="Gaussian Filter"
            visible="true">
      </operation>
   </extension>

</plugin>
