<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.diamond.scisoft.analysis.api.operation">
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.SubtractOperation"
            id="uk.ac.diamond.scisoft.analysis.processing.subtractOperation">
      </operation>
   </extension>

</plugin>
