<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.diamond.scisoft.analysis.api.operation">
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.SubtractOperation"
            description="Subtract one dataset from another or subtract a scalar value."
            icon="icons/minus.png"
            id="uk.ac.diamond.scisoft.analysis.processing.subtractOperation"
            name="Subtract"
            visible="false">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.AddOperation"
            description="Add one dataset to another or add a scalar value."
            icon="icons/plus.png"
            id="uk.ac.diamond.scisoft.analysis.processing.addOperation"
            name="Add"
            visible="false">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.AzimuthalIntegration"
            description="Azimithal integration on an image using a sector region."
            icon="icons/sector.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.azimuthalIntegration"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.IntegrationModel"
            name="Azimithal Integration">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.FunctionOperation"
            description="Run an arbitrary function on the data to transform it."
            icon="icons/function.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.functionOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.FunctionModel"
            name="Function Operation">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.BoxIntegration"
            description="Using a box region, select a portion of the data to integrate in X and Y."
            icon="icons/box.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.boxIntegration"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.IntegrationModel"
            name="Box Integration">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.RotatedCartesianBox"
            description="Define a region of interest to be used in the rest of the processing pipeline."
            icon="icons/region.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.selectROI"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.RotatedCartesianBoxModel"
            name="Cut Rotated Cartesian Box">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.FittingOperation"
            description="Fit a peak to 1D data"
            icon="icons/fit.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.fittingOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.FittingModel"
            name="Peak Fit"
            visible="true">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.ThresholdMask"
            description="Create a mask with intensity values below a lower bound and above an upper bound masked."
            icon="icons/mask.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.thresholdMask"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.ThresholdMaskModel"
            name="Threshold Mask"
            visible="true">
      </operation>
      <operation
            class="uk.ac.diamond.scisoft.analysis.processing.operations.DiffractionMetadataImportOperation"
            description="Import detector geometry and x-ray energy"
            icon="icons/CalibrationRun.png"
            id="uk.ac.diamond.scisoft.analysis.processing.operations.DiffractionMetadataImportOperation"
            model="uk.ac.diamond.scisoft.analysis.processing.operations.DiffractionMetadataImportModel"
            name="Import Diffraction Metadata"
            visible="true">
      </operation>
   </extension>

</plugin>
