<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback configuration for use when running JUnit tests, to suppresses unwanted messages to that the logs we save in Jenkins are not too verbose -->
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%r  %-5level [%logger{36}] - %m%n</pattern>
        </encoder>
    </appender>

    <!-- Some GDA test helper code issues WARN messages, which can be ignored when we actually testing -->
    <logger name="gda.rcp.views.JythonTerminalView" level="ERROR" />
    <logger name="gda.jython.InterfaceProvider" level="ERROR" />
    <logger name='gda.data.metadata.GDAMetadataProvider' level='ERROR' />

    <root>
        <level value="INFO"/>
        <appender-ref ref="Console"/>
    </root>

</configuration>

