<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="uk.ac.diamond.scisoft.analysis.osgi.LoaderServiceImpl">
         <service
               serviceClass="uk.ac.diamond.scisoft.analysis.io.ILoaderService">
         </service>
      </serviceFactory>
      <serviceFactory
            factoryClass="uk.ac.diamond.scisoft.analysis.osgi.DatasetMathsServiceImpl">
         <service
               serviceClass="uk.ac.diamond.scisoft.analysis.dataset.IDatasetMathsService">
         </service>
      </serviceFactory>
   </extension>

</plugin>
