<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="uk.ac.diamond.scisoft.analysis.osgi.LoaderServiceImpl">
         <service
               serviceClass="org.eclipse.dawnsci.analysis.api.io.ILoaderService">
         </service>
      </serviceFactory>
      <serviceFactory
            factoryClass="uk.ac.diamond.scisoft.analysis.osgi.DatasetMathsServiceImpl">
         <service
               serviceClass="org.eclipse.dawnsci.analysis.api.dataset.IDatasetMathsService">
         </service>
      </serviceFactory>
      <serviceFactory
            factoryClass="uk.ac.diamond.scisoft.analysis.osgi.ClassLoaderServiceImpl">
         <service
               serviceClass="py4j.ClassLoaderService"></service>
      </serviceFactory>
   </extension>

</plugin>
