<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="operation" name="Operation" schema="schema/operation.exsd"/>
   <extension-point id="peakfinder" name="PeakFinder" schema="schema/peakfinder.exsd"/>
   <extension-point id="marshaller" name="Marshaller" schema="schema/marshaller.exsd"/>
   <extension-point id="classregistry" name="Class Registry" schema="schema/classregistry.exsd"/>
   <extension-point id="operationsetupwizardpage" name="Operation Setup Wizard Page" schema="schema/operationsetupwizardpage.exsd"/>

</plugin>
