<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dawnsci.analysis.api.operation">
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XPDFInsertBeamMetadataOperation"
            description="Insert the XPDF metadata into the main Dataset"
            icon="icons/xpdfbeam.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XPDFInsertBeamMetadataOperation"
            model="uk.ac.diamond.scisoft.xpdf.operations.XPDFInsertBeamMetadataModel"
            name="Insert XPDF Beam Metadata">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XPDFInsertSampleMetadataOperation"
            description="Insert the sample metadata into the processing pipeline"
            icon="icons/xpdfsample.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XPDFInsertSampleMetadataOperation"
            model="uk.ac.diamond.scisoft.xpdf.operations.XPDFInsertSampleMetadataModel"
            name="Insert XPDF Sample Metadata">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XPDFInsertContainerMetadataOperation"
            description="Insert a container metadata instance into the processing pipeline"
            icon="icons/xpdfcontainer.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XPDFInsertContainerMetadataOperation"
            model="uk.ac.diamond.scisoft.xpdf.operations.XPDFInsertContainerMetadataModel"
            name="Insert XPDF Container Metadata">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XPDFLorchFTOperation"
            description="Apply the Lorch Fourier Transform to enter r-space."
            icon="icons/xpdflorch.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XPDFLorchFTOperation"
            model="uk.ac.diamond.scisoft.xpdf.operations.XPDFLorchFTModel"
            name="XPDF Lorch Fourier Transform (th_soq to dofr)">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XPDFGofrFromDofrOperation"
            description="Convert from the D(r) PDF to G(r)"
            icon="icons/xpdfsubbak.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XPDFGofrFromDofrOperation"
            model="org.eclipse.dawnsci.analysis.api.processing.model.EmptyModel"
            name="XPDF D(r) to G(r)">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XPDFTophatOperation"
            description="Remove background using a tophat filter"
            icon="icons/xpdftophat.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XPDFTophatOperation"
            model="uk.ac.diamond.scisoft.xpdf.operations.XPDFTophatModel"
            name="XPDF Tophat background subtraction (soq to th_soq)">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XPDFSelfScatteringNormalisationOperation"
            description="Calculate the theoretical self-scattring, and use it to normalise the data"
            icon="icons/xpdfnormal.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XPDFSelfScatteringNormalisationOperation"
            model="org.eclipse.dawnsci.analysis.api.processing.model.EmptyModel"
            name="XPDF Self-scattering and Normalisation (ABSCOR to soq)">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XPDFNormalizeTracesOperation"
            description="Normalise all datasets according to their count time and relative flux"
            icon="icons/xpdfnormal.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XPDFNormalizeTracesOperation"
            model="uk.ac.diamond.scisoft.xpdf.operations.XPDFNormalizeTracesModel"
            name="XPDF Normalise Data (count to Normon)">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XPDFSubtractBackgroundOperation"
            description="Subtract the empty beam data from the sample and empty container data"
            icon="icons/xpdfsubbak.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XPDFSubtractBackgroundOperation"
            model="uk.ac.diamond.scisoft.xpdf.operations.XPDFSubtractBackgroundModel"
            name="XPDF Subtract Background (Normon to SUBBAK)">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XPDFIterateCalibrationConstantOperation"
            description="Calibrate the data to best match the theoretical scattering, and subtract the sample fluorescence"
            icon="icons/xpdfxicco.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XPDFIterateCalibrationConstantOperation"
            model="uk.ac.diamond.scisoft.xpdf.operations.XPDFIterateCalibrationConstantModel"
            name="XPDF Iterate Calibration Constant (SUBBAK to ABSCOR)">
      </operation>
      <category
            id="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            name="XPDF beta">
      </category>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XPDFDefineDetectorOperation"
            description="Define the detector parameters used to take the data"
            icon="icons/xpdfdetector.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XPDFDefineDetectorOperation"
            model="uk.ac.diamond.scisoft.xpdf.operations.XPDFDefineDetectorModel"
            name="XPDF Define Detector">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XPDFAzimuthalIntegrationOperation"
            description="An XPDF-specific version of the azimuthal integration Operation."
            icon="icons/xpdfazimuthal.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XPDFAzimuthalIntegration"
            model="uk.ac.diamond.scisoft.xpdf.operations.XPDFAzimuthalIntegrationModel"
            name="XPDF Azimuthal Integration">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XPDFReadMetadataOperation"
            description="Read the XPDF metadata from a NeXus file"
            icon="icons/xpdfbase.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XPDFReadMetadataOperation"
            model="uk.ac.diamond.scisoft.xpdf.operations.XPDFReadMetadataModel"
            name="XPDF Read Metadata">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.SubtractXRMCOperation"
            icon="icons/xpdfxicco.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.SubtractXRMCOperation"
            model="uk.ac.diamond.scisoft.xpdf.operations.SubtractXRMCModel"
            name="Iterate and Subtract XRMC Operation ">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XRMCNormalizationOperation"
            icon="icons/xpdfnormal.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.XRMCNormalizationOperation"
            model="org.eclipse.dawnsci.analysis.api.processing.model.EmptyModel"
            name="XRMC Normalisation">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.XRMCEnergyIntegration"
            id="uk.ac.diamond.scisoft.xpdf.operations.XRMCEnergyIntegration"
            name="XRMC Energy Integration">
      </operation>
      <operation
            category="uk.ac.diamond.scisoft.xpdf.xpdfCategory"
            class="uk.ac.diamond.scisoft.xpdf.operations.ImportXRMCMetadataOperation"
            icon="icons/xpdfbeam.png"
            id="uk.ac.diamond.scisoft.xpdf.operations.ImportXRMCMetadataOperation"
            model="uk.ac.diamond.scisoft.xpdf.operations.ImportXRMCMetadataModel"
            name="Import XRMC Metadata">
      </operation>
   </extension>

</plugin>
